a:link {
    color: darkgreen;
    font-size: 25px;
    margin-left: 500px;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 247, 255);
}

p{
    color: white;
    margin: 100px;
    font-size: 25px;
}

body{
    background-image: url(https://www.nhm.ac.uk/content/dam/nhmwww/discover/wpy-56/13.jpg.thumb.1160.1160.jpg);
    background-size: cover;
}
