a:link {
    color: darkgreen;
    font-size: 25px;
    margin-left: 900px;
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 247, 255);
}

p{
    color: white;
    margin-left: 250px;
    font-size: 25px;
}

body{
    background-image: url(https://user-images.githubusercontent.com/76497487/113128119-1817c680-9237-11eb-81d6-3d83201258c4.png);
    background-size: cover;
}
